<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header>
      <div class="padding-10 flex-center-block gradient-fill-blue">
         <img src="../static/BDocsLogo.png" th:src="@{static/BDocsLogo.png}" alt="Builder's Documents" width="150"
            height="57" />
      </div>
      <div class="flex-space-between nav-container">
         <div class="nav-block-submit"></div>
         <nav class="flex-center-block">
            <a class="nav-block flex-center-block" href="/documents.html">Документы</a>
            <a class="nav-block flex-center-block" href="/staff.html">Сотрудники</a>
            <h1 class="nav-block-current flex-center-block" href="/users.html">Пользователи</h1>
         </nav>
         <form th:action="@{/logout}" method="post">
            <input class="nav-block-submit" type="submit" value="Выход" />
         </form>
      </div>
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Документы</div>
         <div>
            <button type="button" class="margin-bottom-10" onclick="uploadDocument()">Загрузить</button>
         </div>
         <div class="table-big">
            <table>
               <tr class="table-header">
                  <td>Id</td>
                  <td>Название</td>
                  <td>Создатель</td>
                  <td>Создан</td>
                  <td>Изменен</td>
                  <td>Подробнее</td>
               </tr>
               <tr th:each="document : ${documents}">
                  <td th:text="${document.idDocument}">1</td>
                  <td th:id="'document'+${document.idDocument}+'name'" th:text="${document.name}">Name</td>
                  <td th:id="'document'+${document.idDocument}+'creator'" th:text="${document.creator.name}+' '+${document.creator.lastname}">Creator</td>
                  <td th:id="'document'+${document.idDocument}+'dateCreated'" th:text="${document.dateCreated}">12.12.2022</td>
                  <td th:id="'document'+${document.idDocument}+'dateModified'" th:text="${document.dateModified}">12.12.2022</td>
                  <td><button onclick="showDocument(1)" th:onclick="'showDocument('+${document.idDocument}+')'">🔍</button></td>
                  </td>
               </tr>
            </table>
         </div>
         <div th:if="${documents.totalPages gt 0}" class="margin-top-20 flex-center">
            <span>Страница</span>
            <ul class="flex-center">
               <li th:classappend="${1 eq currentPage} ? 'current-page'">
                  <a class="margin-left-10" th:href="@{/documents?page=1}">1</a>
               </li>
               <th:block th:switch="${documents.totalPages lt 6}" class="flex-center">
                  <th:block th:case="true" class="flex-center">
                     <li th:each="page : ${#numbers.sequence( 2, documents.totalPages - 1, 1)}" th:classappend="${page eq currentPage} ? 'current-page'">
                        <a class="margin-left-10" th:href="@{/documents?page={page}(page=${page})}" th:text="${page}">2</a>
                     </li>
                  </th:block>
                  <th:block th:case="false" class="flex-center">
                     <li th:if="${currentPage gt 2}">
                        <span class="margin-left-10">...</span>
                     </li>
                     <li th:each="page : ${#numbers.sequence( currentPage - 1, currentPage + 1, 1)}" th:classappend="${page eq currentPage} ? 'current-page'">
                        <a class="margin-left-10" th:if="${page gt 1 and page lt documents.totalPages}" th:href="@{/documents?page={page}(page=${page})}" th:text="${page}">3</a>
                     </li>
                     <li th:if="${currentPage lt documents.totalPages - 2}">
                        <span class="margin-left-10">...</span>
                     </li>
                  </th:block>
               </th:block>
               <li th:if="${documents.totalPages gt 1}" th:classappend="${documents.totalPages eq currentPage} ? 'current-page'">
                  <a class="margin-left-10" th:href="@{/documents?page={page}(page=${documents.totalPages})}" th:text="${documents.totalPages}">4</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div id="addDocumentFormContainer" class="form-hidden-container flex-center-block hidden">
      <div class="flex-column-center form-450 gradient-fill-blue form-container margin-all-20">
         <h2>Загрузить документ</h2>
         <form th:action="@{/documents}" method="post" class="form-border">
            <div class="form-field margin-top-20">
               <label class="form-label" for="addName"> Название: 
               </label>
               <input class="form-input-300" type="text" name="name" id="addName"/> 
            </div>
            <div class="form-field">
               <label class="form-label" for="addDescription"> Описание: 
               </label>
               <textarea class="form-input-300" name="description" id="addDescription">
               </textarea>
            </div>
            <div class="form-field">
               <label class="form-label" for="addSecretKey"> ЭЦП: 
               </label>
               <input class="form-input-300" type="password" name="secretKey" id="addSecretKey"/> 
            </div>
            <div class="form-field">
               <label class="form-label" for="addDocument"> Загрузить документ:
               </label>
               <input class="form-input-300" type="file" name="document" id="addDocument"/> 
            </div>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Загрузить" />
               </div>
               <div class="form-field">
                  <button type="button" onclick="cancelUpload()">Отмена</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/documents.js"></script>
</body>
</html>