<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header>
      <div class="padding-10 flex-center-block gradient-fill-blue">
         <img src="../static/BDocsLogo.png" th:src="@{static/BDocsLogo.png}" alt="Builder's Documents" width="150"
            height="57" />
      </div>
      <div class="flex-space-between nav-container">
         <div class="nav-block-submit"></div>
         <nav class="flex-center-block">
            <a class="nav-block flex-center-block" href="/documents.html">Документы</a>
            <a class="nav-block flex-center-block" href="/staff.html">Сотрудники</a>
            <h1 class="nav-block-current flex-center-block" href="/users.html">Пользователи</h1>
         </nav>
         <form th:action="@{/logout}" method="post">
            <input class="nav-block-submit" type="submit" value="Выход" />
         </form>
      </div>
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Шаблоны документов</div>
         <div>
            <a class="margin-bottom-10 href-button" th:href="@{/templateEdit(item='create')}" href="templateEdit.html">Создать</a>
         </div>
         <div class="table-big margin-top-20">
            <table>
               <tr class="table-header">
                  <td>Id</td>
                  <td>Название</td>
                  <td>Редактировать</td>
                  <td>Удалить</td>
               </tr>
               <tr th:each="template : ${templates}">
                  <td th:text="${template.idDocumentTemplates}">1</td>
                  <td th:id="'template'+${template.idDocumentTemplates}+'name'" th:text="${template.name}">Name</td>
                  <td><button onclick="editTemplate(1)" th:onclick="'editTemplate('+${template.idDocumentTemplates}+')'">✎</button></td>
                  <td><button onclick="deleteTemplate(1)" th:onclick="'deleteTemplate('+${template.idDocumentTemplates}+')'">❌</button></td>
               </tr>
            </table>
         </div>
         <div th:if="${templates.totalPages gt 0}" class="margin-top-20 flex-center">
            <span>Страница</span>
            <ul class="flex-center">
               <li th:classappend="${1 eq currentPage} ? 'current-page'">
                  <a class="margin-left-10" th:href="@{/documentTemplates?page=1}">1</a>
               </li>
               <th:block th:switch="${templates.totalPages lt 6}" class="flex-center">
                  <th:block th:case="true" class="flex-center">
                     <li th:each="page : ${#numbers.sequence( 2, templates.totalPages - 1, 1)}" th:classappend="${page eq currentPage} ? 'current-page'">
                        <a class="margin-left-10" th:href="@{/documentTemplates?page={page}(page=${page})}" th:text="${page}">2</a>
                     </li>
                  </th:block>
                  <th:block th:case="false" class="flex-center">
                     <li th:if="${currentPage gt 2}">
                        <span class="margin-left-10">...</span>
                     </li>
                     <li th:each="page : ${#numbers.sequence( currentPage - 1, currentPage + 1, 1)}" th:classappend="${page eq currentPage} ? 'current-page'">
                        <a class="margin-left-10" th:if="${page gt 1 and page lt templates.totalPages}" th:href="@{/documentTemplates?page={page}(page=${page})}" th:text="${page}">3</a>
                     </li>
                     <li th:if="${currentPage lt templates.totalPages - 2}">
                        <span class="margin-left-10">...</span>
                     </li>
                  </th:block>
               </th:block>
               <li th:if="${templates.totalPages gt 1}" th:classappend="${templates.totalPages eq currentPage} ? 'current-page'">
                  <a class="margin-left-10" th:href="@{/documentTemplates?page={page}(page=${templates.totalPages})}" th:text="${templates.totalPages}">4</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div id="deleteTemplateFormContainer" class="form-hidden-container flex-center-block hidden">
      <div class="flex-column-center gradient-fill-blue form-container margin-all-20">
         <form th:action="@{/documentTemplates}" method="post" class="form-border">
            <div>Шаблон будет удален. Вы уверены?</div>
            <input type="hidden" value="delete" name="mode"/>
            <input type="hidden" value="0" name="idDocumentTemplates" id="deleteIdDocumentTemplatesField"/>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Да" />
               </div>
               <div class="form-field">
                  <button type="button" onclick="cancelDeleteTemplate()">Отмена</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/documentTemplates.js"></script>
</body>
</html>