<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header th:replace="~{fragments/header::header}">
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Шаблоны документов</div>
         <div>
            <a class="margin-bottom-10 href-button" th:href="@{/templateEdit(item='create')}" href="templateEdit.html">Создать</a>
         </div>
         <div class="table-big margin-top-20">
            <table>
               <tr class="table-header">
                  <td>Id</td>
                  <td>Название</td>
                  <td>Редактировать</td>
                  <td>Удалить</td>
               </tr>
               <tr th:each="template : ${templates}">
                  <td th:text="${template.idDocumentTemplates}">1</td>
                  <td th:id="'template'+${template.idDocumentTemplates}+'name'" th:text="${template.name}">Name</td>
                  <td><button onclick="editTemplate(1)" th:onclick="'editTemplate('+${template.idDocumentTemplates}+')'">✎</button></td>
                  <td><button onclick="deleteTemplate(1)" th:onclick="'deleteTemplate('+${template.idDocumentTemplates}+')'">❌</button></td>
               </tr>
            </table>
         </div>
         <div th:replace="~{fragments/pagination::pagination(${templates}, 'documentTemplates')}"></div>
      </div>
   </div>
   <div id="deleteTemplateFormContainer" class="form-hidden-container flex-center-block hidden">
      <div class="flex-column-center gradient-fill-blue form-container margin-all-20">
         <form th:action="@{/documentTemplates}" method="post" class="form-border">
            <div>Шаблон будет удален. Вы уверены?</div>
            <input type="hidden" value="delete" name="mode"/>
            <input type="hidden" value="0" name="idDocumentTemplates" id="deleteIdDocumentTemplatesField"/>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Да" />
               </div>
               <div class="form-field">
                  <button type="button" onclick="cancelDeleteTemplate()">Отмена</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/documentTemplates.js"></script>
</body>
</html>