<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header>
      <div class="padding-10 flex-center-block gradient-fill-blue">
         <img src="../static/BDocsLogo.png" th:src="@{static/BDocsLogo.png}" alt="Builder's Documents" width="150"
            height="57" />
      </div>
      <div class="flex-space-between nav-container">
         <div class="nav-block-submit"></div>
         <nav class="flex-center-block">
            <a class="nav-block flex-center-block" href="/documents.html">Документы</a>
            <a class="nav-block flex-center-block" href="/staff.html">Сотрудники</a>
            <h1 class="nav-block-current flex-center-block" href="/users.html">Пользователи</h1>
         </nav>
         <form th:action="@{/logout}" method="post">
            <input class="nav-block-submit" type="submit" value="Выход" />
         </form>
      </div>
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Создание документа</div>
         <form class="form-full-size full-width" th:action="@{/documentEditXML}" method="post">
            <input type="hidden" name="idDocument" th:if="${document.idDocument}" th:value="${document.idDocument}"/>
            <input type="hidden" name="mode" th:if="${document.idDocument}" value="uploadNew"/>
            <input type="hidden" name="mode" th:unless="${document.idDocument}" value="upload"/>
            <div class="flex-start margin-top-10">
               <div class="bold">Название:</div>
               <div class="bold font-size-20" th:if="${document.name}" th:text="${document.name}">Документ 1</div>
               <input name="name" type="text" class="bold font-size-20" th:unless="${document.name}" value="Название"/>
            </div>
            <div class="flex-start margin-top-10">
                <div class="bold">Шаблон:</div>
                <select id="selectTemplateElement" class="bold" th:field="*{document.template}">
                    <option value="0">Без шаблона</option>
                    <option th:each="template : ${templates}" th:text="${template.name}" th:value="${template.idDocumentTemplates}">Шаблон 1</option>
                </select>
            </div>
            <div class="flex-start margin-top-10">
               <div class="bold">ЭЦП: </div>
               <input class="bold" type="password" name="secretKey" id="addSecretKey"/> 
            </div>
            <div class="bold flex-start margin-top-10">Код документа:</div>
            <div class="flex-start margin-top-10">
               <textarea id="documentTextElement" name="documentText" class="full-width xml-editor" th:text="${documentText}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae, harum, repellendus reiciendis voluptates quidem maxime facilis eos eaque optio assumenda architecto dolores asperiores ducimus veniam laboriosam, tenetur voluptatum iste?</textarea>
            </div>
            <div class="flex-start margin-top-10">
               <button type="submit">Сохранить</button>
               <button type="button" class="margin-left-10" onclick="loadFromFile()">Загрузить из файла</button>
               <a class="margin-left-10 href-button" th:href="@{/documents}" href="documents.html">Отмена</a>
            </div><!--TODO error messages, xml highlight, textarea style-->
         </form>
      </div>
   </div>

   <input id="textFileElement" type="file" class="hidden"/>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/documentEditXML.js"></script>
</body>
</html>