<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <header th:replace="~{fragments/header::header}">
   </header>
   <div>
      <div class="flex-center">Список пользователей</div>
      <table>
         <tr class="table-header">
            <td>Id</td>
            <td>Логин</td>
            <td>Роль</td>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
         </tr>
      </table>
   </div>
</body>
</html>