<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Example </title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="flex-center-body">
        <div class="form-container gradient-fill-blue form-450 flex-column-center">
            <img src="../static/BDocsLogo.png" th:src="@{static/BDocsLogo.png}" alt="Builder's Documents" width="300" height="112" />
            <form th:action="@{/login}" method="post" class="form-border">
                <div class="form-field form-error-field flex-center" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="form-field flex-center" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <div class="form-field margin-top-20">
                    <label class="form-label" for="username"> User Name:
                    </label>
                    <input class="form-input-300" type="text" name="username" id="username" />
                </div>
                <div class="form-field">
                    <label class="form-label" for="password"> Password:</label>
                    <input class="form-input-300" type="password" name="password" id="password" />
                </div>
                <div class="flex-center">
                    <div class="form-field">
                        <input type="submit" value="Sign In" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>