<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header th:replace="~{fragments/header::header}">
   </header>
   <div class="flex-center">
      <div class="form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-space-between">
            <div>
               <h1 class="bold font-size-20" th:text="${project.name}">Название</h1>
               <div class="flex-start margin-top-10">
                  <div class="bold">Клиент:</div>
                  <div class="margin-left-10" th:text="${project.order.client.name}">Флекс Флекс</div>
               </div>
               <div class="flex-start margin-top-10">
                  <div class="bold">Дата начала:</div>
                  <div class="margin-left-10" th:text="${project.startDate}">11.11.2011</div>
               </div>
               <div class="flex-start margin-top-10">
                <div class="bold">Дата окончания:</div>
                <div class="margin-left-10" th:text="${project.estimateEndDate}">11.11.2011</div>
             </div>
             <div class="flex-start margin-top-10">
                <div class="bold">Завершен:</div>
                <div class="margin-left-10" th:text="${project.endDate}">11.11.2011</div>
             </div>
             <div class="flex-start margin-top-10">
                <div class="bold">Стоимость:</div>
                <div class="margin-left-10" th:text="${project.cost}">11.11.2011</div>
             </div>
             <form th:action="@{/project}" method="post">
               <input type="hidden" value="createDocumentFrom" name="mode"/>
               <input type="hidden" name="idProjects" th:value="${project.idProjects}"/>
               <div class="form-field">
                  <label class="form-label" for="uploadSecretKey"> ЭЦП: 
                  </label>
                  <input class="form-input-300" type="password" name="secretKey" id="uploadSecretKey"/> 
               </div>
               <div class="flex-start margin-top-10">
                  <button type="submit" class="margin-left-10">Создать документ</button>
               </div>
             </form>
               <h2 class="flex-start margin-top-10">Стадии</h2>
               <div class="flex-start margin-top-10 table-big">
                  <table>
                     <tr class="table-header">
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('idProjectsStates', 'Id')}">
                           <span>Id</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('idState', 'Название')}">
                           <span>Название</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('startDate', 'Дата начала')}">
                           <span>Дата начала</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('estimateEndDate', 'Дата окончания')}">
                           <span>Дата окончания</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('endDate', 'Завершен')}">
                           <span>Завершен</span>
                        </td>
                     </tr>
                     <tr th:each="projectState : ${projectStates}">
                        <td th:text="${projectState.idProjectsStates}">1</td>
                        <td th:id="'projectState'+${projectState.idProjectsStates}+'name'" th:text="${projectState.idState.name}">Name</td>
                        <td th:id="'projectState'+${projectState.idProjectsStates}+'startDate'" th:text="${projectState.startDate}">Date</td>
                        <td th:id="'projectState'+${projectState.idProjectsStates}+'estimateEndDate'" th:text="${projectState.estimateEndDate}">Date</td>
                        <td th:id="'projectState'+${projectState.idProjectsStates}+'endDate'" th:text="${projectState.endDate}">Date</td>
                     </tr>
                  </table>
               </div>
               <h2 class="flex-start margin-top-10">Материалы</h2>
               <div class="flex-start margin-top-10 table-big">
                  <table>
                     <tr class="table-header">
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('idProjectMaterials', 'Id')}">
                           <span>Id</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('idMaterial', 'Название')}">
                           <span>Название</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('estimateCount', 'Закуплено')}">
                           <span>Закуплено</span>
                        </td>
                        <td th:replace="~{fragments/sortedColumn::sortedColumn('usedCount', 'Использорвано')}">
                           <span>Использорвано</span>
                        </td>
                     </tr>
                     <tr th:each="projectMaterial : ${projectMaterials}">
                        <td th:text="${projectMaterial.idProjectMaterials}">1</td>
                        <td th:id="'order'+${projectMaterial.idProjectMaterials}+'name'" th:text="${projectMaterial.idMaterial.name}">Name</td>
                        <td th:id="'order'+${projectMaterial.idProjectMaterials}+'estimateCount'" th:text="${projectMaterial.estimateCount}">Name</td>
                        <td th:id="'order'+${projectMaterial.idProjectMaterials}+'usedCount'" th:text="${projectMaterial.usedCount}">Name</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/project.js"></script>
</body>
</html>