<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header th:replace="~{fragments/header::header}">
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Создание документа</div>
         <form class="form-full-size full-width" th:action="@{/templateEdit}" method="post">
            <input type="hidden" name="idDocumentTemplates" th:if="${template.idDocumentTemplates}" th:value="${template.idDocumentTemplates}"/>
            <input type="hidden" name="mode" th:if="${template.idDocumentTemplates}" value="edit"/>
            <input type="hidden" name="mode" th:unless="${template.idDocumentTemplates}" value="add"/>
            <div class="flex-start margin-top-10">
               <div class="bold">Название:</div>
               <input name="name" type="text" class="bold font-size-20" th:value="${template.name}" value="Название"/>
            </div>
            <div class="bold flex-start margin-top-10">Код шаблона:</div>
            <div class="flex-start margin-top-10">
               <textarea id="templateTextElement" name="templateText" class="full-width xml-editor" th:text="${templateText}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae, harum, repellendus reiciendis voluptates quidem maxime facilis eos eaque optio assumenda architecto dolores asperiores ducimus veniam laboriosam, tenetur voluptatum iste?</textarea>
            </div>
            <div class="flex-start margin-top-10">
               <button type="submit">Сохранить</button>
               <button type="button" class="margin-left-10" onclick="loadFromFile()">Загрузить из файла</button>
               <a class="margin-left-10 href-button" th:href="@{/documentTemplates}" href="documentTemplates.html">Отмена</a>
            </div>
         </form>
      </div>
   </div>

   <input id="textFileElement" type="file" class="hidden"/>

   <script src="../static/scripts/formUtilities.js"></script>
   <script src="../static/scripts/templateEdit.js"></script>
</body>
</html>