<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header th:replace="~{fragments/header::header}">
   </header>
   <div class="flex-center">
      <div class="flex-column-center form-full-size gradient-fill-blue form-container margin-all-20">
         <div class="flex-center margin-bottom-20">Список пользователей</div>
         <div class="table-big">
            <table>
               <tr class="table-header">
                  <td>Id</td>
                  <td>Логин</td>
                  <td>Роль</td>
                  <td>Редактировать</td>
                  <td>Удалить</td>
               </tr>
               <tr th:each="user : ${users}">
                  <td th:text="${user.idLoginInfo}">1</td>
                  <td th:id="'user'+${user.idLoginInfo}+'login'" th:text="${user.login}">Login</td>
                  <td th:text="${user.role}">Admin</td>
                  <td><button onclick="editUser(1)" th:onclick="'editUser('+${user.idLoginInfo}+')'">✎</button></td>
                  <td><button onclick="deleteUser(1)" th:onclick="'deleteUser('+${user.idLoginInfo}+')'">❌</button></td>
               </tr>
            </table>
         </div>
         <div th:replace="~{fragments/pagination::pagination(${users}, 'users')}"></div>
      </div>
      <div class="flex-column-center form-450 gradient-fill-blue form-container margin-all-20">
         <h2>Добавление пользователя</h2>
         <div th:if="${error}" th:text="${error}" class="form-field form-error-field flex-center">
            Invalid username and password.
         </div>
         <div th:if="${success}" th:text="${success}" class="form-field flex-center">
            Invalid username and password.
         </div>
         <form th:action="@{/users}" method="post" class="form-border">
            <input type="hidden" value="add" name="mode"/>
            <div class="form-field margin-top-20">
               <label class="form-label" for="addLogin"> User Name: 
               </label>
               <input class="form-input-300" type="text" name="login" id="addLogin"/> 
            </div>
            <div class="form-field">
               <label class="form-label" for="addPassword"> Password: 
               </label>
               <input class="form-input-300" type="password" name="password" id="addPassword"/> 
            </div>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Добавить" />
               </div>
            </div>
         </form>
      </div>
   </div>
   <div id="editUserFormContainer" class="form-hidden-container flex-center-block hidden">
      <div class="flex-column-center form-450 gradient-fill-blue form-container margin-all-20">
         <h2>Редактировать пользователя</h2>
         <form th:action="@{/users}" method="post" class="form-border">
            <input type="hidden" value="edit" name="mode"/>
            <input type="hidden" value="0" name="idLoginInfo" id="editIdLoginInfoField"/>
            <div class="form-field margin-top-20">
               <label class="form-label" for="editLogin"> User Name: 
               </label>
               <input class="form-input-300" type="text" name="login" id="editLogin"/> 
            </div>
            <div class="form-field">
               <label class="form-label" for="editPassword"> Password: 
               </label>
               <input class="form-input-300" type="password" name="password" id="editPassword"/> 
            </div>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Редактировать" />
               </div>
               <div class="form-field">
                  <button type="button" name="cancelEdit" onclick="cancelEditUser()">Отмена</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div id="deleteUserFormContainer" class="form-hidden-container flex-center-block hidden">
      <div class="flex-column-center gradient-fill-blue form-container margin-all-20">
         <form th:action="@{/users}" method="post" class="form-border">
            <div>Пользователь будет удален. Вы уверены?</div>
            <input type="hidden" value="delete" name="mode"/>
            <input type="hidden" value="0" name="idLoginInfo" id="deleteIdLoginInfoField"/>
            <div class="flex-center">
               <div class="form-field">
                  <input type="submit" value="Да" />
               </div>
               <div class="form-field">
                  <button type="button" name="cancelEdit" onclick="cancelDeleteUser()">Отмена</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <script src="../static/scripts/users.js"></script>
</body>
</html>